.thanks-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #EFFFFD;
}

.thanks-wrapper{
    padding: 4rem;
    background-color: #CAF7E3;
    border-radius: 8px;
}

.ordered-heading h3{
    text-align: center;
    font-size: 1.9rem;
    font-family: sans-serif;
    font-weight: bold;
}
.discription-text{
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    color: #06FF00;
    font-weight: bold;
}
.wallet-text{
    text-align: center;
    font-size: 1.3rem;
}
.browse-btn{
    padding: 0.5rem;
    text-align: center;
}

@media (max-width:600px){
    .thanks-wrapper{
        padding: 1rem;
        margin: 8px;
    }
}